---
import Layout from "../../../layouts/Layout.astro"
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const cards: CollectionEntry<'ep167'>[] = await getCollection('ep167');

---

<Layout>
  <a class="btn btn-block" href=`${import.meta.env.BASE_URL}`>See All Flashcard Lists</a>
  <div class="flex justify-center items-center flex-col">
    <h2 class="text-4xl m-[20px]">Ep 167: Comment mangent les Français ?</h2>
    <span class="grid grid-cols-5 grid-rows-3 gap-2">
      {cards.map(card => 
        (<a href={`${import.meta.env.BASE_URL}/episodes/ep167/${card.id}`}><span>{card.data.front}</span></a>)
      )}
    </span>
  </div>
</Layout>