---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <div class="flex justify-center items-center flex-col max-w-full h-screen">
  <h2 class="text-4xl m-[20px]">Flashcard Lists</h2>
  <ul class="border-base-content/25 divide-base-content/25 w-96 divide-y rounded-md border *:p-3 *:first:rounded-t-md *:last:rounded-b-md">
    <li><a href="/">Ep 167: Comment mangent les Français?</a></li>
  </ul>
  </div>
</Layout>