---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
  		<meta name="viewport" content="width=device-width" />
<meta charset="utf-8">
  </head>
  <body>

  <slot />
  <!-- FlyonUI -->
<script is:inline src="../../node_modules/flyonui/flyonui.js"></script>  
  </body>

</html>


